.btn-assist {
  padding-top: 10px;
  text-align: right;
}

.actionable {
  margin-top: 64px;
  text-align: center;

  padding-bottom: 64px;

  @include media(sm) {
    padding-bottom: 68px;
  }

  h1 {
    font-size: 36px;
  }

  .btn {
    min-width: 240px;
  }

  .table {
    text-align: left;
    background: rgba(167, 182, 247, 0.18);
  }

  .ico-lg {
    font-size: 72px;
  }

  .box-info {
    padding: 8px;
    border: 1px solid #cac9c9;
    background-color: #fff;
    text-align: left;
  }

  .btn-danger {
    color: #FFFFFF;
  }
}
